<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntBuilderLaunchConfigurationType">
<stringAttribute key="org.eclipse.ant.ui.ATTR_ANT_CLEAN_TARGETS" value="clean,"/>
<booleanAttribute key="org.eclipse.ant.ui.ATTR_TARGETS_UPDATED" value="true"/>
<booleanAttribute key="org.eclipse.ant.ui.DEFAULT_VM_INSTALL" value="false"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DNS.com API"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/DNS.com API/build.xml}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_RUN_BUILD_KINDS" value="full,incremental,auto,clean"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-Dhttp.client.path=/home/dphillips/Development/Java/httpcomponents-client-4.1.1/lib/httpclient-4.1.1.jar -Dhttp.core.path=/home/dphillips/Development/Java/httpcomponents-client-4.1.1/lib/httpcore-4.1.jar -Dhttp.mime.path=/home/dphillips/Development/Java/httpcomponents-client-4.1.1/lib/httpmime-4.1.1.jar -Dcommons.logging.path=/home/dphillips/Development/Java/httpcomponents-client-4.1.1/lib/commons-logging-1.1.1.jar -Dcommons.codec.path=/home/dphillips/Development/Java/httpcomponents-client-4.1.1/lib/commons-codec-1.4.jar -Dslf4j.core.path=/home/dphillips/Development/Java/slf4j-1.6.1/slf4j-api-1.6.1.jar"/>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_TRIGGERS_CONFIGURED" value="true"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/DNS.com API}"/>
</launchConfiguration>
